S3method(print,straussfit)
export(LambertW)
export(approximate_strauss_constant)
export(approximate_strauss_constant_OT)
export(approximate_strauss_constant_PS)
export(approximate_strauss_constant_R)
export(approximate_strauss_constant_penttinen)
export(cutgeom)
export(dstrauss)
export(fstrauss)
export(fstrauss.bayes)
export(fstrauss.direct)
export(fstrauss.logistic)
export(fstrauss.profile)
export(fstrauss.vb)
export(geom)
export(rstrauss)
export(strauss_intensity)
export(strauss_theory)
import(Rcpp)
import(multicore)
useDynLib(rstrauss)
