export(approximate_strauss_constant)
export(approximate_strauss_constant_OT)
export(approximate_strauss_constant_PS)
export(approximate_strauss_constant_penttinen)
export(bbox_distance)
export(dstrauss)
export(rstrauss)
export(strauss_theory)
import(Rcpp)
import(cutgeom)
import(multicore)
useDynLib(rstrauss)
